{% extends 'base.html' %}

{% block title %}homepage{% endblock %}
{% block content%}
  <div>
    <div>
        {% if notes %}
        <h1>
            {{Notes}}
        </h1>
        {% endif %}
    </div>
    <div>
        {% for note in notes %}
        {% if note.author == current_user.id %}
        <div class="card my-3">
          <div class="card-header">
            <h5 class="card-title">{{ note.title }}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{ note.content }}</p>
          </div>
          <div class="card-footer">
            <p class="card-text"><a href="{{url_for('views.update_notes',id=note.id)}}">UPDATE</a></p>
          </div>
          <div class="card-footer">
            <p class="card-text"><a href="{{url_for('views.delete_notes',id=note.id)}}">DELETE</a></p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
  </div>
    <h1>
      <a href="{{url_for('views.create_notes')}}">create notes</a>
    </h1>
  </div>
  
{% endblock %}
